.home {
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100vh;

  background-image: url("/assets/images/background.png");
  background-size: cover;
  background-position: center;

  padding: 25px;

  .home-title {
    text-align: center;

    h1 {
      font-size: var(--fs-6xl);
    
      -webkit-text-fill-color: transparent;
      background: var(--primary-gradient-color) text;
    }
    
    p {
      font-size: var(--fs-4xl);
      color: var(--primary-color);
    }
  }
}